
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #197cd3;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4a90e2;
}

label {
    font-size: 1rem;
}

input {
    margin: 10px 0;
    padding: 5px;
}

button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357ab8;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
